canvas{
  width: 100%;
  max-width: 10px;
  aspect-ratio: 1/25;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.color-palette:hover {
  cursor: pointer;
}
