<main [ngStyle]="{'background-color': color || 'white'}">
  <section>

    <div class="color-wrapper">
      <app-color-palette [hue]="hue" (color)="color = $event"></app-color-palette>
      <app-color-slider
        (color)="hue=$event"
        style="margin-left:16px"
      ></app-color-slider>
    </div>

    <div class="input_color">
      <div class="card_color"
      [ngStyle]="{'background-color': color || 'white'}"
      ></div>
      <input id="texto" *ngIf="mode == 'rgb'" type="text" title="text" [(ngModel)]="color">
      <input id="texto" *ngIf="mode == 'hue'" type="text" title="text" [(ngModel)]="hue">
      <i icon="copy" class="icon" (click)="copiarTexto()"></i>
    </div>

    <!-- <div class="buttons">
      <button mat-raised-button> Save </button>
      <button mat-raised-button> Mode </button>
    </div> -->
  </section>
</main>
