main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  section{
    width: 95%;
    max-width: 320px;
    background-color: #283c4b;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .color-wrapper {
      display: flex;
    }

    .input_color {
      position: relative;
      margin-top: 0;
      display: flex;
      border-radius: 1px;
      border: 0px solid transparent;
      justify-content: center;

      .card_color {
        position: absolute;
        top: 0;
        left: 0;
        width: 38px;
        height: 38px;
        border-radius: 6px;
        border: 0px solid transparent;
      }

      input {
        width: 100%;
        flex: 1;
        font-family: 'Helvetica';
        line-height: normal;
        border: 0px solid;
        background-color: #3c576a;
        color: white;
        padding: 12px 8px;
        border-radius: 6px;
        padding-left: 48px;
      }

      .icon{
        position: absolute;
        top: 9px;
        right: 10px;
        width: 1.2rem;
        color: white;
        cursor: pointer;
        transition: all .2s;

        &:hover{
          transform: scale(1.05) rotate(5deg);
        }
      }
    }

    .buttons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

}
