<main [ngStyle]="{'background-color': hux || 'white'}">
  <section>
    <header>
      <h2> 🎨 Color Picker </h2>
    </header>

    <div class="color_picker_custom">
      <input title="component colors"
        [style.background]="hux"
        [cpToggle]="true"
        [cpDialogDisplay]="'inline'"
        [cpAlphaChannel]="'always'"
        [cpOutputFormat]="'hex'"
        [cpPresetColors]="arrayColors.reverse()"
        [cpAddColorButton]="false"
        [cpWidth]="'280px'"
        [cpOKButton]="true"
        [cpOKButtonText]="'✂'"
        (colorPickerSelect)="copiarColor()"
        [cpPresetEmptyMessage]="'Sem Cores salvas'"
        (colorPickerChange)="setColors($event)"
        (cpCmykColorChange)="selectColors($event)"
        [(colorPicker)]="hux"/>
    </div>

    <div class="buttons">
      <button mat-raised-button (click)="saveColor()" [style.backgroundColor]="hux"> 💾 Save </button>
      <!-- <button mat-raised-button (click)="copiarColor()"> ✂ Copy </button> -->
    </div>
  </section>
</main>
