@use '@angular/material' as mat;
@include mat.core();

@import "./styles/variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  outline: none;
  font-family: 'Helvetica';
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--primary-bg-color);
}

p {
  font-size: 16px;
}

a {
  color: var(--primary-text);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: var(--text-color);
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

textarea {
  resize: none;
  overflow-y: hidden;
  font-family: var(--font-family);
}

.icon {
  color: var(--main-color);
  cursor: pointer;
}

.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_sm {
  transform: scale(1.2);
  cursor: pointer;
}

// Padrão Telas
main {
  animation: start 1s alternate;
  display: flex;
  flex-direction: column;
  gap: 30px 0;

  & > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    h1 {
      font-size: 24px;
      color: var(--text-color);
      margin: 0 !important;
    }
  }
}

//end

// Style card Select
.mat-mdc-option {
  height: 35px !important;
  font-size: 14px !important;
  padding: 0 10px !important;
  color: white !important;
  border-radius: var(--br);
  background: var(--third-bg-color) !important;

  &:hover {
    background: var(--navbar-second-color) !important;
  }
}

.cdk-overlay-dark-backdrop {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}


.info {
  background: #333333;
  color: white;
  font-size: 14px;
}
.info button {
  background-color: #3c576a;
  color: rgb(249, 249, 249);
  border: none;
  .mdc-button__label{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
}

.mat-mdc-snack-bar-container{
  border-radius: 10px;

  .mdc-button{
    min-width: 40px !important;
  }

  .mdc-snackbar__surface {
    padding-right: 4px !important;
  }
}
