@use "@angular/material" as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
// @include mat.all-legacy-component-typographies();
@include mat.core();

$noclaf-admin-primary: mat.define-palette(mat.$indigo-palette);
$noclaf-admin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$noclaf-admin-warn: mat.define-palette(mat.$red-palette);
$noclaf-admin-theme: mat.define-light-theme(
  (
    color: (
      primary: $noclaf-admin-primary,
      accent: $noclaf-admin-accent,
      warn: $noclaf-admin-warn,
    ),
  )
);

@include mat.all-legacy-component-themes($noclaf-admin-theme);

// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~bootstrap/dist/css/bootstrap.min.css";

@import "./styles/variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--primary-bg-color);
}

p {
  font-size: 16px;
}

a {
  color: var(--primary-text);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: var(--text-color);
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

textarea {
  resize: none;
  overflow-y: hidden;
  font-family: var(--font-family);
}

.icon {
  color: var(--main-color);
  cursor: pointer;
}

.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_sm {
  transform: scale(1.2);
  cursor: pointer;
}

// Padrão Telas
main {
  padding: 25px 40px 20px 30px;
  animation: start 1s alternate;
  display: flex;
  flex-direction: column;
  gap: 30px 0;

  & > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    h1 {
      font-size: 24px;
      color: var(--text-color);
      margin: 0 !important;
    }
  }
}

//end

// Style card Select
.mat-mdc-option {
  height: 35px !important;
  font-size: 14px !important;
  padding: 0 10px !important;
  color: white !important;
  border-radius: var(--br);
  background: var(--third-bg-color) !important;

  &:hover {
    background: var(--navbar-second-color) !important;
  }
}

.cdk-overlay-dark-backdrop {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
